.main_Nav {
    width: 100;
    height: 224;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;
}
.SubNav {
    flex: 2;
    padding-left: 100;
    align-items: center;
}
.Navlinks {
    flex: 2;
    padding-left: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-color: black;
    border-width: 2;
    align-items: flex-end;
    padding-bottom: 40px;
}
.logo{
    padding-left: 100px;
    padding-top: 10px;
}
.login {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    justify-content: start;
    padding-right: 100px;
}
.login1 {
    flex-direction: row;
    /* justify-content: space-around; */
}
.b1{
    width: 150px;
    height: 30px;
}
.btn {
    /* padding-right: 10px; */
    background-color : #033572;
    width: 140px;
    height: 30px;
}
.btn1 {
    background-color: #009AD8;
    width: 140px;
    height: 30px;
}
.sign {
    color: white;
    font-weight: bold;
}
.bc {
    padding-top: 20px;
    flex: 0.1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-between; */
}
.side {
    display: flex;
    position: absolute;
    /* top: 300px; */
}
.side1 {
    display: flex;
    position: absolute;
    top: 300px;
}
.rside {
    display: flex;
    position: absolute;
    left: 700px;
    top: 300px;
}
.tside {
    display: flex;
    position: absolute;
    justify-content: center;
    padding-left: 400px;
    padding-right: 300px;
}
.hdr {
    padding-top: 30px;
    font-size: 60px;
    color: #009AD8;
    font-weight: 700;
}
.linktext {
    font-size: 20px;
}
.inputz {
    width: 200px;
    padding-top: 10px;

}
.putz{
    width: 283px;
    height: 30px;
}
.vcmain {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 500px;
}
.search {
    position: absolute;
    padding-top: 68px;
    padding-left: 250px;
}